* {
    background-color: #BABD8D;

}
h1 {
    text-align: center;
    border: solid white;
    border-radius: 10px;
    font-family: fantasy;
    background-color: #FFDAC6;
} 

p.body {
    text-align: center;
    font-family: segoe ui;
}

li:hover {
    color: #FA9500;
}

a {
    color: #EB6424;
}

a:hover {
    color: #FA9500;
}

#learnMore {
    font-family: courier new;
    width: 150px;
    height: 30px;
    border: solid white;
    border-radius: 10px;
    background-color: #FA9500;
}

#appearance {
    font-family: fantasy;
    border: solid white;
    text-align: center;
    background-color:  #FFDAC6;
}

td.a {
    background-color:  #EB6424;
    padding: 10px;
    border: 5px solid #7C6A0A;
    border-radius: 20px;
}
td.b {
    background-color:  #EB6424;
    padding: 10px;
    border: 5px solid #7C6A0A;
    border-radius: 20px;
}
em.src1 {
    background-color: #FFDAC6;
    border: 2px solid #7C6A0A;
    border-radius: 10px;
    text-align: center;
}
em.src2 {
    background-color: #FFDAC6;
    border: 2px solid #7C6A0A;
    border-radius: 10px;
}

